@import 'assets/css/app-colors.css';
@import 'assets/css/general.css';
@import 'assets/css/app-table.css';
@import 'assets/css/app-buttons.css';
@import 'assets/css/app-form.scss';

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #dedede;
}
