.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.login-card {
    margin-top: 50px;
}

.warning-card {
    margin-top: 100px;
    margin-bottom: 100px
}
